/* Á÷³ÌÍ¼ */
.process-margin{
    margin:10px;
}

.process-margin-bottom{
    margin-bottom:10px;
}

.process-left-header{
    width:20px;
    background-color:#007dbe;
    color:white;
    text-align: center;
}

.process-trangle{
    float:right;
    position:relative;
}

.process-trangle-bg{
    border-left: 40px solid transparent;
    border-top: 40px solid #007dbe;
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.process-trangle-success{
    border-top: 40px solid #5cb85c;
}

.process-trangle-warning{
    border-top: 40px solid #f0ad4e;
}

.process-trangle-danger{
    border-top: 40px solid #d9534f;
}

.process-trangle-wd{
    color: white;
    font-size: 12px;
    height: 40px;
    right: 2px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 40px;
    text-align: center;
}

.process-body-text{
    position:absolute;
    left:10px;
    top:12px;
    line-height:5px;
}

.process-body-green{
    width:205px;
    height:90px;
    display:inline-block;
    margin:0;
    background-color: #E5FBF9;
    position:relative;
    font-size:12px;
}

.process-tail-green{
    width:0;
    height:0;
    border-left:20px solid #E5FBF9;
    border-top:45px solid transparent !important;
    border-bottom:45px solid transparent !important;
    display:inline-block;
}

.process-head-green{
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-top:45px solid #E5FBF9;
    border-bottom:45px solid #E5FBF9;
    display:inline-block;
}

.process-circle-green{
    width:28px;
    height:28px;
    border:2px solid green;
    border-radius:14px;
    color:green;
    font-size:16px;
    right:0;
    top:30px;
    position:absolute;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.process-body-red{
    width:205px;
    height:90px;
    display:inline-block;
    margin:0;
    background-color: #FBE5E7;
    position:relative;
    font-size:12px;
}

.process-tail-red{
    width:0;
    height:0;
    border-left:20px solid #FBE5E7;
    border-top:45px solid transparent !important;
    border-bottom:45px solid transparent !important;
    display:inline-block;
}

.process-head-red{
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-top:45px solid #FBE5E7;
    border-bottom:45px solid #FBE5E7;
    display:inline-block;
}

.process-circle-red{
    width:28px;
    height:28px;
    border:2px solid red;
    border-radius:14px;
    color:red;
    font-size:16px;
    right:0;
    top:30px;
    position:absolute;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.process-body-grey{
    width:205px;
    height:90px;
    display:inline-block;
    margin:0;
    background-color: #dedede;
    position:relative;
    font-size:12px;
}

.process-tail-grey{
    width:0;
    height:0;
    border-left:20px solid #dedede;
    border-top:45px solid transparent !important;
    border-bottom:45px solid transparent !important;
    display:inline-block;
}

.process-head-grey{
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-top:45px solid #dedede;
    border-bottom:45px solid #dedede;
    display:inline-block;
}

.process-circle-grey{
    width:28px;
    height:28px;
    border:2px solid #666666;
    border-radius:14px;
    color:#666666;
    font-size:16px;
    right:0;
    top:30px;
    position:absolute;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.process-margin-right{
    margin-right:15px;
}


.body_apply_right table tbody tr td{
    white-space: normal;
}



.notification {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), 0 1px hsla(0, 100%, 100%, 0.3) inset;
    color: white !important;
    display: block;
    font-family: Arial,sans-serif;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    position: absolute;
    right: 2px;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    top: 0px;
    display:none;
}
.notification {
    background-color: #67c2ef;
    border-color: #2fabe9;
}
.notification.green {
    background-color: #78cd51;
    border-color: #5aad34;
}
.notification.yellow {
    background-color: #fabb3d;
    border-color: #f4a506;
}
.notification.red {
    background-color: #fa603d;
    border-color: #fa5833;
}


#doneList tr{
    cursor:pointer;
}

.modal_dialog_style {
    width: 800px;
}

.size_slider{
    background-color: #ecf0f2;
    border: 1px solid #ecf0f2;
	width: 50px;
	text-align: center;
}

.hide_ram_button {
    display: none;
}

.selected {
    background-color: #5fb2ef !important;
    border-color: #5fb2ef;
    color: #252f3d;
}

.flavor .cpu, .flavor .ram {
    margin-top: 16px;
    margin-left:-6px;
}

#apply_server_disk_container{
    margin-left:18px;
}

#apply_volume_disk_container{
    margin-left:18px;
}

.radio-inline{
    margin-left:30px;
}

.Mirror_list_div{
    margin-left:0;
}

/*
.apply-list{
    height: 320px;
    overflow: auto;
    width: 100%;
    padding-top:10px;
}

.apply-detail{
    margin:0 25px;
}

.body_apply_right{
    float:left;
    background-color:#ffffff;
    height: 400px;
    width: 100%;
    overflow:auto;
    display:none;
}

.body_apply_left{
    float:left;
    width:100%;
    background-color: white;
}

#workinglist tr{
    cursor:pointer;
}



.flowChart{
    white-space: nowrap;
    text-overflow: clip;
}

 .detail_block{
     float:left;
     margin:10px;
     text-align: center;
 }

  .detail_block h3{
    margin-top:10px;
 }

  .detail_span{
       margin-bottom:10px;
   }







a[data-toggle=tab] {
    width: 70%;
}

#next_step, #previous_step {
    width: auto;
}



.modal_title_style {
    font-size: 14px;
    color: #fff;
}

.modal_footer_style {
    border: 0 none;
}

.modal_body_style {
    height: 400px;
}

.body_footer_left {
    width: 60%;
}

.body_footer_right {
    background-color: #ecf0f2;
    float: right;
    height: 400px;
    margin-top: -400px;
    width: 40%;
}

.Configuration_details {
    color: #337ab7;
    float: left;
    margin: 25px;
}

.Configuration {
    height: 80px;
    width: 100%;
}

.content_detail {
    color: #5b6775;
    margin: 0 25px;
}

.content_detail > p {
    padding: 0 0 15px;
}

.modal-footer.modal_footer_style .next_page_a {
    float: right;
}

#next_page {
    float: right;
}

.row_list {
    height: 260px;
    margin: 0;
    overflow: auto;
    width: 103.3%;
}

.btn_list {
    color: #5b6775;
    background-color: #e6f3fc;
    border: 1px solid #e6f3fc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 6px 12px;
    width: 97%;
}



.warning_list {
    background-color: #5fb2ef;
}

.select_style {
    float: right;
    width: 88%;

}


select {
    border: 1px solid #edf0f5;
    height: 30px;
    width: 280px;
}

select:hover,select:focus{
    border: 1px solid #5fb2ef;
}

.instance-number{
    border: 1px solid #edf0f5;
}

.instance-number:hover,.instance-number:focus{
    border: 1px solid #5fb2ef;
}

#configuration_selection .panel {
    background-color: #fff;
    font-size: 12px;
}

.panel {
    box-shadow: none;
    height: 240px;
    margin: 20px 0 0;
}

.tab-content {
}

.panel .flavor_row {
    line-height: 20px;
    margin-bottom: 11px;
}

.flavor_row:not(:first-child) {
    margin-top: 16px;
}

.btn_select {
    margin-right: 13px;
    width: 50px;
    background-color: #ecf0f2;
    border: 1px solid #ecf0f2;
    border-radius: 6px;
    box-sizing: border-box;
    color: #5b6775;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    min-width: 45px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn_select:hover {
    background-color: #b9f1f9;
    border-color: #b9f1f9;
    color: #5b6775;
}

.btn_select_ram {
    margin-right: 13px;
    width: 55px;
    background-color: #ecf0f2;
    border: 1px solid #ecf0f2;
    border-radius: 6px;
    box-sizing: border-box;
    color: #5b6775;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    min-width: 50px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn_select_ram:hover {
    background-color: #b9f1f9;
    border-color: #b9f1f9;
    color: #5b6775;
}

.show_b {
    display: block;
}

.hide_ram_button {
    display: none;
}

.selected {
    background-color: #5fb2ef !important;
    border-color: #5fb2ef;
    color: #252f3d;
}



.flavor_row > div:first-child {
    float: left;
    margin-right: 14px;
}

.in_put {
    border: 1px solid #edf0f5;
    height: 30px;
    padding-left: 10px;
    width: 81%;
}

.textarea_put{
    height:80px;
    max-width: 81%;
    min-width: 81%;
}

.in_put:hover,.in_put:focus{
    border: 1px solid #5fb2ef;
}

label {
    font-weight: 500;
    margin-left: 20px;
}



.btn_primary_style {
    background-color: #5fb2ef;
    border-color: #5fb2ef;
    color: #fff;
}

.active_tab {
    color: #337ab7 !important;
}

.projection_image_style {
    color: #ee5555;
}

.apellation_style {
    border: 1px solid #ee5555;
    color: #ee5555;
}

.operation_d_1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.operation_e {
    border: 0 none;
    padding: 10px 30px 10px 10px;
    width: 110%;
}



.machine-table {
    border: 1px solid #ecf0f2;
    border-radius: 4px;
    margin-left: 9px;
    width: 39%;
}











#server_volume_sizeSlider {
    width: 320px;
}


.warning_border {
    border: 3px solid #ee5555 !important;
}


.more-dropdown-menu{
    margin: 2px 253px 0;
    min-width: 130px;
}

.dropdown-menu.sub_menu_style {
    margin: 0;
    min-width: 100px;
}

.operation > p {
    float: left;
}



.custom_modal .modal-dialog{
    width: 600px;
}

.custom_modal .modal-body {
    padding-bottom: 30px;
}

.list_item {
    padding: 7px 0 7px 0;
    width: 190px;
    text-align: right;
}

.list_item_checkbox{
    padding: 7px 0 7px 0;
    width: 406px;
    text-align: right;
}

.row_title {
    display: inline;
    position: relative;
    left: -7%;
}

.row_content {
    display: inline;
    position: absolute;
    left: 33%;
}

.row_content input, .row_content select {
    border: 1px solid #ecf0f2;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    width: 250px;
}

 .row_content input:hover:enabled, .row_content select:focus:enabled{
    border: 1px solid #5fb2ef;
}
 .row_content select:hover:enabled,.row_content input:focus:enabled{
    border: 1px solid #5fb2ef;
}

.row_content textarea {
    max-height: 100px;
    max-width: 250px;
    height: 100px;
    width: 250px;
}

.row_content input[type=checkbox] {
    border: 1px solid #ecf0f2;
    border-radius: 4px;
    height: auto;
    padding-left: 10px;
    width: auto;
}

.checkbox_style {
    height: 30px;
    display: block;
}

div[content_type="checkbox"] {
    height: 27px;
    padding: 7px 0;
}

.hide_block {
    display: none;
}

#current_host, #current_host:focus, #current_host:hover {
    padding-left: 13px;
    border: 1px solid #ecf0f2;
}


#config_server_form .list_item{
    padding: 15px 0 15px 0;
    width: 150px;
}

#config_server_form .row_content{
    left: 28%
}

.warnning_tip {
    color: red;
}

.btn-delete {
    height: 30px;
    line-height: 1em;
}



#server_interface_modal input,select{
    width: 250px;
    border: 1px solid #ccc;
}

#server_interface_modal select{
    width: 251px;
}

#server_interface_modal .row_content{
    text-align: left;
    left: 30%
}

#server_interface_modal .list_item{
    width: 160px;
}

.input-group, .input-group-btn{
    display: inline-table;
}

.input_button{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: -3px 0 0 -7px;
}



#floating_ip_modal select {
    border: 1px solid #ccc;
    width: 296px;
}

#floating_ip_modal input {
    border: 1px solid #ccc;
    width: 240px;
}

#already_bind_container{
    margin-bottom: 35px;
}

.warnning_container {
    height: 63px;
    display: none;
}


#snapshot_modal select {
    border: 1px solid #ccc;
    width: 296px;
}

#snapshot_modal input {
    border: 1px solid #ccc;
    width: 250px;
}

#snapshot_modal textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

#snapshot_modal input:focus,#snapshot_modal textarea:focus{
    border-color: #5fb2ef;
}

#ss_description_container{
    height: 8em;
}

#snapshot_tree_container {
    text-align: left;
}

.tree_container {
    width: 296px;

    margin: 0 0 15px 140px;
}

#snapshot_tree{
    position: static;
    width: 296px;
}

#snapshot_toolbar {
    margin-left: 151px;
}

.isloading-overlay {
    margin-left: 139px;
}

.clone_input{
    width: 60%;
}
.clone_select{
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    margin-left: 9px;
    width: 60%;
}
.control-group{
    overflow: hidden;
    margin-bottom: 10px;
}




.showTable tr td, .showTable tr th {
    width:25%;
}


.showTable-2col tr th{
    padding-left:20px;
}

.showTable-2col tr td{
    padding-right:20px;
}


.showTable-2col{
    margin-bottom:30px;
}

*/