

/*
div[type="out_container"] {
    min-height: 560px;
}

.location {
    padding: 12px 0 0 30px;
}

.operation {
    background-color: #fff;
    border-radius: 10px;
    float: left;
    margin-left: 40px;
    margin-top: 48px;
    width: 94%;
    height: 540px;
}


.operation_a {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0 10px 20px;
    text-align: center;
    width: 97%;
}

.operation_a_t{
	border: 1px solid #ddd;
	border-radius: 10px;
    height: 207px;
    margin: 10px 0 10px 20px;
    text-align: center;
    width: 97%;
}



.operation_b {
    margin: 0 0 0 20px;
    text-align: center;
    width: 97%;
}

.operation_c {
    border-style: outset none none;
    border-width: 1px 0 0;
    color: #969dac;
    margin-left: 30px;
    margin-right: 25%;
    margin-top: 18px;
}

.operation_c_t {
    border-style: outset none none;
    border-width: 1px 0 0;
    color: #969dac;
    margin-left: 30px;
    margin-top: 18px;
    width: 80%;
}

.operation_d {
    border-style: none none solid;
    border-width: 0;
    font-size: 14px;
    margin-bottom: 0;
    width: 15%;
}


.operation_d_t {
    border-style: none none solid;
    border-width: 0;
    font-size: 14px;
    margin-bottom: 0;
    width: 30%;
}


.tds{
    width: 45%;
}

select {
    height: 30px;
    margin-left: 10px !important;
    width: 307px !important;
}





.operation_d_1 {
    border: 1px solid #ddd;
    margin: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 40%;
}




.operation_e {
    border: 0 none;
    margin: 10px 20px;
    padding: 10px 30px 10px 10px;
    width: 98.2%;
}






.red{
	margin-right: -20px;
}



select {
    height: 30px;
    margin-left: 10px !important;
    width: 39% !important;
}

.modal_dialog_style{
	width: 65%;
}

.modal_title_style{
	font-size:14px;
	color: #fff;
}

label {
    font-weight: 500;
    margin-left: 20px;
}

/*
.machine-name{
    border: 1px solid #ecf0f2;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
	margin-left: 9px;
    width: 39%;
}

.machine-name:hover, .machine-name:focus {
    border: 1px solid #5fb2ef;
}
.describe_style {
    margin: -60px 0 0 265px;
    width: 95%;
}
.to_configure {
    margin-left: 24%;
    width: 12%;
}
.Mirror_list_div {
    color: #5b6775;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-top: 20px;
}

.Mirror_list_div.conf_style {
    margin-left: 150px;
}

 .Mirror_list_div > div {
    margin-bottom: 15px;
}

.Mirror_list_div > div .desc{
    display: inline-block;
}
.button_control {
    margin: 16px 0 16px;
}

.button_control span{
    margin-left: 23px;
    margin-right: 477px;
}

.button_control button{
    margin-left: 10px;
}
.table-responsive {
	overflow-x: hidden;
}
.operation_1 {
    background-color: #fff;
    border-radius: 10px;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    width: 94%;
}
*/
