<link ng-href="//static_url('stylesheets/user.css')//" rel="stylesheet"/>

<div class="container-fluid page-content" type="out_container">
    <!--
    <div class="row">
        <div class="col-md-12">
            <div id="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li>配置</li>
                    <li class="active">用户管理</li>
                </ol>
            </div>
        </div>
    </div>
    -->
    <div id="page-container" class="row">
        <div  class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div id="toolbar_container">
                        <div class="btn-group" role="group">
                            <button class="btn btn-padding btn-status-blueLake"  name="refresh_user" id="refresh_user"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
                            <button name="add_user" id="add_user" class="btn btn-padding btn-status-blueLake" data-toggle="modal" data-target="#create_user_modal"><span class="glyphicon glyphicon-plus-sign"></span> 添加</button>
                            <button name="edit_user" id="edit_user" class="table_button" data-toggle="modal" data-target="#edit_user_modal"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
                            <button name="reset_passwd" id="reset_passwd" class="table_button" data-toggle="modal" data-target="#reset_passwd_modal"><span class="glyphicon glyphicon-repeat"></span> 重置密码</button>
                            <button name="delete_user" id="delete_user" class="table_button" data-toggle="modal" data-target="#delete_user_modal"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                        </div>
                        <div class="search_div">
                            <input type="text" id="search_user_input" placeholder="搜索" class="table_search_input"/>
                            <img id="search_user_img" class="table_search_img" ng-src="//static_url('images/table_operate_button/search.png')//">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive table_container">
                <table class="table" id="user_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="tds">用户名</th>
                            <th class="tds">邮箱</th>
                            <th class="tds">所属部门</th>
                            <th class="tds">角色</th>
                            <th class="tds">创建时间</th>
                            <th class="tds">更新时间</th>
                        </tr>
                    </thead>
                    <tbody id="user_tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div  class="col-md-12">
            <div class="pagination_div">
                <div id="user_pagination" class="pagination"></div>
            </div>
        </div>
    </div>


    <div id="header">

    </div>
</div>

<!--create user modal-->
<div id="create_user_modal" class="modal fade appmodal fadeIn" tabindex="-1" role="dialog" aria-labelledby="create_user_modalLabel" aria-hidden="true">
   <div class="modal-dialog modal_dialog_style">
       <div class="modal-content">
         <div class="modal-header modal_header_style">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title modal_title_style">
               <span class="glyphicon glyphicon-plus-sign"></span> 添加用户
            </h4>
         </div>
           <div class="modal-body">
               <form id="create_user_form">
                   <div class="Mirror_list_div conf_style">
                       <div id="create_name_div" class="control-group">
                           <label class="control-label" for="create_user_name"><span class="red">*</span>用户:</label>
                           <div class="controls">
                               <input id="create_user_name" name="user_name" class="machine-name" type="text"  placeholder="长度3-60位字符">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>用户名不能为空</span></div>
                           </div>
                       </div>
                       <div id="create_email_div" class="control-group">
                           <label class="control-label" for="create_email"><span class="red">*</span>邮箱:</label>
                           <div class="controls">
                               <input type="email" id="create_email" name="email" class="machine-name" placeholder="格式example@test.com">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>邮箱不能为空</span></div>
                           </div>
                       </div>
                       <div id="create_passwd_div" class="control-group">
                           <label class="control-label" for="create_user_passwd"><span class="red">*</span>密码:</label>
                           <div class="controls">
                               <input type="password" id="create_user_passwd" name="user_passwd" class="machine-name"  placeholder="长度4-10位字符">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>密码不能为空</span></div>
                           </div>
                       </div>
                       <div id="confirm_passwd_div" class="control-group">
                           <label class="control-label" for="confirm_passwd"><span class="red">*</span>确认密码:</label>
                           <div class="controls">
                               <input id="confirm_passwd" class="machine-name" name="confirm_passwd" type="password" placeholder="长度4-10位字符">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>密码不能为空</span></div>
                           </div>
                       </div>

                       <div ng-if="user.role == 'super_admin'">
                           <div id="create_department_div" class="control-group">
                               <label class="control-label" for="create_department"><span class="red">*</span>部门:</label>
                               <div class="controls">
                                   <select name="department_id" class="machine-name" id="create_department">
                                   </select>
                                   <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                                   <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                                   <div class="desc error_info hide"><span>请选择一个部门</span></div>
                               </div>
                           </div>
                       </div>

                       <div class="control-group">
                           <label class="control-label" for="create_authority"><span class="red">*</span>角色:</label>
                           <div class="controls">
                               <select name="authority" class="machine-name" id="create_authority">
                                   <!--<option value="super_admin">系统管理员</option>
                                   <option value="dept_admin">部门管理员</option>
                                   <option value="user" >普通用户</option>-->
                               </select>
                           </div>
                       </div>
                   </div>
               </form>
           </div>
           <div class="modal-footer modal_footer_edit_style">
               <button class="table_button btn_default_style form_general_button" id="submit_create_user"><span class="glyphicon glyphicon-ok"></span> 添加</button>
               <button class="table_button cancel_button" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span> 取消</button>
           </div>
       </div>
   </div>
</div>

<!--edit user modal-->
<div id="edit_user_modal" class="modal fade appmodal fadeIn" tabindex="-1" role="dialog" aria-labelledby="edit_user_modalLabel" aria-hidden="true">
   <div class="modal-dialog modal_dialog_style">
       <div class="modal-content">
         <div class="modal-header modal_header_style">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title modal_title_style" id="myModalLabel">
               <span class="glyphicon glyphicon-edit"></span> 修改用户信息
            </h4>
         </div>
           <div class="modal-body">
               <form id="edit_user_form">
                   <div class="Mirror_list_div conf_style">
                       <div id="edit_user_name_div" class="control-group">
                           <label class="control-label" for="edit_user_name"><span class="red">*</span>用户:</label>
                           <div class="controls">
                               <input id="edit_user_name" name="user_name" class="machine-name" type="text" placeholder="长度3-60位字符">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>用户名不能为空</span></div>
                           </div>
                       </div>
                       <div id="edit_email_div" class="control-group">
                           <label class="control-label" for="edit_email"><span class="red">*</span>邮箱:</label>
                           <div class="controls">
                               <input id="edit_email" name="email" class="machine-name" type="text" placeholder="格式example@test.com">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>邮箱不能为空</span></div>
                           </div>
                       </div>
                       <!--
                       <div>
                           <span class="red">*</span>
                           <label for="edit_user_passwd">密 &nbsp; &nbsp; &nbsp; 码&nbsp; : </label>
                           <input id="edit_user_passwd" name="user_passwd" class="machine-name" type="text">
                       </div>
                       <div>
                           <span class="red">*</span>
                           <label for="edit_confirm_passwd">确认密码&nbsp; : </label>
                           <input id="edit_confirm_passwd" class="machine-name" type="text">
                       </div>-->
                       <div ng-if="user.role == 'super_admin'">
                           <div id="edit_department_div" class="control-group">
                               <label class="control-label" for="edit_department"><span class="red">*</span>部门:</label>
                               <div class="controls">
                                   <select name="department_id" class="machine-name" id="edit_department">
                                   </select>
                                   <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                                   <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                                   <div class="desc error_info hide"><span>选择一个部门</span></div>
                               </div>
                           </div>
                       </div>

                       <div class="control-group">
                           <label class="control-label" for="edit_authority"><span class="red">*</span>角色:</label>
                           <div class="controls">
                               <select name="authority" class="machine-name" id="edit_authority">

                               </select>
                           </div>
                       </div>
                   </div>
               </form>
           </div>
           <div class="modal-footer modal_footer_edit_style">
               <button class="table_button btn_default_style form_general_button" id="submit_edit_user"><span class="glyphicon glyphicon-ok"></span> 更新</button>
               <button class="table_button cancel_button" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span> 取消</button>
           </div>
       </div>
   </div>
</div>

<!--delete user-->
<div id="delete_user_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete_user_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="margin:100px auto">
        <div class="modal-content">
            <div class="modal-header modal_danger_header_style">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title modal_title_style"><span class="glyphicon glyphicon-trash"></span> 删除</h4>
            </div>
            <div class="modal-body">
                <p class="font_family">确定要删除该用户？</p>
            </div>
            <div class="modal-footer modal_footer_edit_style">
                <button class="table_button btn_default_style form_danger_button" id="submit_delete_user"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                <button class="table_button cancel_button" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span> 取消</button>
            </div>
        </div>
    </div>
</div>

<!--reset passwd -->
<div id="reset_passwd_modal" class="modal fade appmodal fadeIn" tabindex="-1" role="dialog" aria-labelledby="reset_passwd_modalLabel" aria-hidden="true">
   <div class="modal-dialog modal_dialog_style">
       <div class="modal-content">
         <div class="modal-header modal_header_style">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title modal_title_style">
               <span class="glyphicon glyphicon-repeat"></span> 重置密码
            </h4>
         </div>
           <div class="modal-body">
               <form id="reset_passwd_form">
                   <div class="Mirror_list_div conf_style">
                       <div id="reset_passwd_div" class="control-group">
                           <label class="control-label" for="reset_user_passwd"><span class="red">*</span>密码:</label>
                           <div class="controls">
                               <input type="password" id="reset_user_passwd" name="user_passwd" class="machine-name"  placeholder="长度4-10位字符">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>密码不能为空</span></div>
                           </div>
                       </div>
                       <div id="reset_confirm_passwd_div" class="control-group">
                           <label class="control-label" for="reset_confirm_passwd"><span class="red">*</span>确认密码:</label>
                           <div class="controls">
                               <input id="reset_confirm_passwd" class="machine-name" name="confirm_passwd" type="password" placeholder="长度4-10位字符">
                               <div class="desc success hide"><img ng-src="//static_url('images/success.png')//"></div>
                               <div class="desc error hide"><img ng-src="//static_url('images/error.png')//"></div>
                               <div class="desc error_info hide"><span>密码不能为空</span></div>
                           </div>
                       </div>
                   </div>
               </form>
           </div>
           <div class="modal-footer modal_footer_edit_style">
               <button class="table_button btn_default_style form_general_button" id="submit_reset_passwd"><span class="glyphicon glyphicon-ok"></span> 重置</button>
               <button class="table_button cancel_button" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span> 取消</button>
           </div>
       </div>
   </div>
</div>

<script ng-src="//static_url('javascripts/user.js')//" type="text/javascript"></script>